* {
    background-color: aqua;
    color: black;
}

header {
    background: linear-gradient(to top, blue, yellow);
}

img {
    display: inline;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 22px;
    text-align: center;
}

h2,
h3 {
    font-size: 18px;
    color: red;
    box-shadow: 4px 5px 5px #888;
}

ul {
    list-style-type: none;
}